<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <title>RJack</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div class="h">
    <img src="jack_of_ruby.png" alt="jack of ruby"/>
    <div class="t">
      <div class="rj">RJack</div>
      <div>Java component gems for JRuby</div>
    </div>
  </div>
<div class="main">
<div class="nav">
<a href="http://rubyforge.org/projects/rjack">RubyForge</a> |
<a href="http://rubyforge.org/frs/?group_id=7145">Download</a> |
<a href="http://github.com/dekellum/rjack">GitHub</a>
</div>

<h2>Summary</h2>

<p>RJack provides broadly used open source java components as gems for
use with <a href="http://www.jruby.org/">JRuby</a>.  Each gem may be
used simply and solely to deliver java dependencies to a
consuming ruby/java application. However, most of these gems also
provide either setup facades or adapters for direct use from ruby
code.  RJack helps bring the advantages of RubyGems to existing Java
applications, and lowers barriers for these applications to take
advantage of better ruby facilities in such areas as file system and
command line interaction, Ruby or DSLs as better "configuration",
etc.</p>

<p>In general, rjack gems closely track upstream java project
releases.  Gem versions are based on the java project version plus an
additional gem release number.</p>

<p>See also relevant usage examples and news in the
<a href="http://gravitext.com/#vblog">void * blog</a>.</p>

<h2>Gems</h2>

<div class="graph" >
<object data="rjack.svg" type="image/svg+xml" width="<%= g.w %>" height="<%= g.h %>">
  <img src="rjack.png" width="<%= g.w %>" height="<%= g.h %>"/>
</object>
</div>

<table class="gems">
<tr class="odd">
<td class="gemlink">
<a title="rdoc" href="tarpit/">rjack-tarpit</a>
</td>
<td>
<p>
TarPit provides the glue for an unholy union of build tools,
namely <a href="http://github.com/jimweirich/rake">Rake</a> with
<a href="http://seattlerb.rubyforge.org/hoe/">Hoe</a>,
and <a href="http://maven.apache.org/">Maven</a>. Its used for
building all the rjack gems, as well as other java-in-gem
projects.</p>
</td>
</tr>

<tr>
<td class="gemlink">
<div><a title="rdoc" href="slf4j/"  >rjack-slf4j</a></div>
<div><a title="rdoc" href="logback/">rjack-logback</a></div>
</td>
<td>
<p><span class="sh">Logging:</span>
Gems for <a href="http://www.slf4j.org/">SLF4J</a> and
<a href="http://logback.qos.ch/">Logback</a> provide a complete
toolkit for unifying and controlling logging in a heterogeneous
application containing ruby and java components.  The slf4j gem may
simply be used to satisfy common java logging dependencies, but also
offers a ruby core Logger compatible adapter. The logback gem
provides a facade for programmatic logback configuration in ruby. </p>
</td>
</tr>

<tr class="odd">
<td class="gemlink">
<div><a title="rdoc" href="httpclient-3/">rjack-httpclient-3</a></div>
<div><a title="rdoc" href="httpclient-4/">rjack-httpclient-4</a></div>
</td>
<td>
<p><span class="sh">HTTP Client:</span>
Gem packaging of the
<a href="http://hc.apache.org/">HttpComponents</a> 4.x
and (Jakarta) Commons HttpClient 3.x.  These gems are named with the
major version numbers to allow them to coexist in the same process and
allow incremental upgrade to 4.x.</p>
</td>
</tr>
<tr>
<td class="gemlink">
<div><a title="rdoc" href="jetty/"    >rjack-jetty</a></div>
<div><a title="rdoc" href="jetty-jsp/">rjack-jetty-jsp</a></div>
</td>
<td>

<p><span class="sh">HTTP Server:</span>
Gem packaging of the

<a href="http://www.mortbay.org/jetty/">Jetty Web Server</a>.
The jetty gem includes an extensible
<a href="jetty/RJack/Jetty/ServerFactory.html">ServerFactory</a>
for Server setup in ruby. The jetty-jsp companion gem adds JSP support
when needed.</p>
</td>
</tr>

<tr class="odd">
<td class="gemlink">
<div><a title="rdoc" href="jets3t/">rjack-jets3t</a></div>
</td>
<td>
<p>
Gem packaging and initialization facade for the
<a href="http://jets3t.s3.amazonaws.com/index.html">JetS3t</a>
client to Amazon Simple Storage Service (S3) and CloudFront.</p>
</td>
</tr>

<tr>
<td class="gemlink">
<div><a title="rdoc" href="jdom/">rjack-jdom</a></div>
</td>
<td>
<p>
Gem packaging of the
<a href="http://www.jdom.org/">JDOM</a>
XML processor.</p>
</td>
</tr>

<tr class="odd">
<td class="gemlink">
<div><a title="rdoc" href="rome/">rjack-rome</a></div>
</td>
<td>
<p>
Gem packaging of the
<a href="https://rome.dev.java.net/">ROME</a>
RSS/Atom feed parser and generator.</p>
</td>
</tr>

<tr>
<td class="gemlink">
<div><a title="rdoc" href="commons-codec/"  >rjack-commons-codec</a></div>
<div><a title="rdoc" href="commons-dbcp/"   >rjack-commons-dbcp</a></div>
<div><a title="rdoc" href="commons-dbutils/">rjack-commons-dbutils</a></div>
<div><a title="rdoc" href="commons-pool/"   >rjack-commons-pool</a></div>
</td>
<td>
<p><span class="sh">Commons:</span>

Gems for various components from the
<a href="http://commons.apache.org/">Commons</a> project.</p>

</td>
</tr>

</table>

</div>
</body>
</html>
