body  { font-family: Trebuchet MS, Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
        background: white;
        margin: 0; padding: 0 10px 0 10px;  }

div.h     { background: #111; margin: 0 -10px 0 -10px; height: 105px }
div.h img { float: left; padding: 10px 10px 0px 10px }
div.t     { font-size: large; text-align; color: white; text-align:left; padding: 20px }
div.rj    { font-size: x-large; }
div.main { clear: both }

div.nav { padding: 2px; text-align: center;
          margin: 0 -10px 0 -10px; background: #E5E5EE;
          border-top: 1px solid black;
          border-bottom: 1px solid black; }
div.nav a { text-decoration: none; }

a { color: #1c1585 }

h2    { font-size: large; font-weight: bold }
h3    { font-size: medium; font-weight: bold }
h4    { font-size: medium; font-weight: normal; font-style: italic }

p     { margin: 1em 2em; text-align: justify }
ul    { padding-left: 20px; list-style-type: circle }
ul ul { list-style-type: none }
ul a  { text-decoration: none }

pre   { margin: 15px; background: #EEE; padding: 10px;
        border-style: dashed; border-color: black; border-width: 1px }

div.copyright { margin: 5em -10px 0 -10px; padding: 5px; background: #DDF;
                text-align: center; border-style: solid; border-color: black;
                border-width: 1px 0 1px 0; }

td         { padding: 1em; }
tr.odd     { background: #E5E5EE }
td.gemlink { padding: 1em 2em;  white-space: nowrap; }
td.gemlink a { text-decoration: none; }

td p { margin: 0 1em 0 0; text-align: justify }

span.sh { font-weight: bold; margin-right: 10px }
